<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AchaPet</title>
</head>
<body>
  <div class="cab d-flex flex-row justify-content-around align-items-center flex-wrap">
    <div class="logo d-flex flex-row justify-content-center align-items-center flex-wrap">
      <img class="logos" src="../../../assets/logos.png" alt="">
      <img class="lupa" src="../../../assets/lupa.png" alt="">
    </div>
    <div class="links d-flex flex-row aling-items-center justify-content-center flex-wrap">
      <h3 class="link"><i class="fa-solid fa-house"></i> Quero adotar um Animal</h3>
      <h3 class="link"><i class="fa-solid fa-paw"></i> Registro de Animais</h3>
    </div>
  </div>
  <div class="primeiraParte d-flex flex-row align-items-center justify-content-evenly flex-wrap">
    <div class="intro d-flex flex-column align-items-center justify-content-center flex-wrap">
      <h1 class="frase">
        São Carlos zelando pelo<br>
        Bem Estar de seus animais
      </h1>
      <h2 class="text-intro">
        Com objetivo de auxiliar na adoção de pets, o AchaPet permite conhecer os animais disponíveis para adoção, registrados por ONGs parceiras e o Canil Municipal de São Carlos.
      </h2>
    </div>
    <div class="img-intro flex-wrap">
      <img class="img" src="../../../assets/intro.png" alt="">
    </div>
  </div>
  <div class="barra d-flex flex-row align-items-center justify-content-center">
    <h1 class="text-barra">
      Como funciona o AchaPet
    </h1>
  </div>
  <div class="segundaParte d-flex flex-row align-items-center justify-content-evenly flex-wrap">
    <div class="intro d-flex flex-column align-items-center justify-content-center">
      <h1 class="frase">
        Se você quer adotar um PET
      </h1>
      <h2 class="text-intro">
        Inicialmente, é necessário ter o registro de usuário, que pode ser realizado AQUI.
        <br><br>
        No registro, é necessário informar os dados pessoas solicitados e responder à algumas perguntas, para entendermos melhor seu perfil de adoção.
      </h2>
    </div>
    <div class="img-intro">
      <img class="img" src="../../../assets/adota.png" alt="">
    </div>
  </div>
  <div class="terceiraParte d-flex flex-row align-items-center justify-content-evenly flex-wrap">
    <div class="img-intro">
      <img class="img" src="../../../assets/dogs.png" alt="">
    </div>
    <div class="intro d-flex flex-column align-items-center justify-content-center">
      <h2 class="text-intro">
        Após registro, basta realizar o login com seu usuário na opção Quero Adotar um PET.
        <br><br>
        Após realizado o login, será exibido os animais registrados, disponíveis para adoção, com fotos e dados sobre o animalzinho.
      </h2>
    </div>
  </div>
  <div class="quartaParte d-flex flex-row align-items-center justify-content-evenly flex-wrap">
    <div class="intro d-flex flex-column align-items-center justify-content-center">
      <h2 class="text-intro">
        Ao encontrar um pet que tenha despertado interesse em realizar a adoção, basta acionar a opção Quero Adotar, que a instituição responsável pelo registro do animal, será notificada por email, e entrará em contato pelo email de usuário registrado.
      </h2>
    </div>
    <div class="img-intro">
      <img class="img" src="../../../assets/encontro.png" alt="">
    </div>
  </div>
</body>
</html>
