<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="cab d-flex flex-row justify-content-around align-items-center flex-wrap">
    <div class="logo d-flex flex-row justify-content-center align-items-center flex-wrap">
      <img class="logos" src="../../../assets/logos.png" alt="">
      <img class="lupa" src="../../../assets/lupa.png" alt="">
    </div>
    <div class="links d-flex flex-row aling-items-center justify-content-center flex-wrap">
      <h3 class="link"><i class="fa-solid fa-house"></i> Quero adotar um Animal</h3>
      <h3 class="link"><i class="fa-solid fa-paw"></i> Registro de Animais</h3>
    </div>
  </div>
</body>
</html>
